.container-about {
    width: 100%;
    height: 400px;
    background-color: $grey-100;
    @extend %flex-center;
    @media (max-width: 800px) {
        flex-direction: column;
        height: auto;
    }
    .content {
        width: 100%;
        max-width: 1366px;
        padding: 24px 80px;
        justify-content: space-evenly;
        @extend %flex-center-row;
        @media (max-width: 800px) {
            flex-direction: column;
        }
        .left {
            width: 100%;
            height: auto;
            @media (max-width: 800px) {
                width: 380px;
                margin-bottom: 60px;
                p {
                    text-align: center;
                }
            }
            p {
                color: $grey-800;
                @extend %tittle-seccion;
                .color-yellow {
                    color: $yellow-400;
                }
                .color-blue {
                    color: $blue-500;
                }
            }
        }
        .right {
            max-width: 350px;
            @extend %flex-center-column;
            p {
                color: $grey-800;
                text-align: center;
                @extend %tittle-item;
            }
            .correo {
                margin: 12px 0;
                p {
                    color: $grey-800;
                    text-align: center;
                    @extend %regular-light;
                }
                span {
                    color: $grey-900;
                    text-align: center;
                    @extend %regular-medium;
                }
            }
            .boton {
                width: 100%;
                height: auto;
                margin-top: 12px;
                @extend %flex-center-column;
                p {
                    color: $grey-600;
                    margin-bottom: 12px;
                    @extend %regular-light;
                }
                button {
                    width: auto;
                    height: auto;
                    padding: 3px 12px;
                    border-radius: 25px;
                    border: none;
                    background-color: $grey-100;
                    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15), -2px -2px 8px 0px rgba(255, 255, 255, 0.15);
                    cursor: pointer;
                    @extend %flex-center-row;
                    p {
                        width: auto;
                        height: auto;
                        margin-left: 6px;
                        margin-bottom: 0;
                        margin-top: 0;
                        @extend %flex-center;
                        @extend %regular-regular;
                    }
                }
            }
        }
    }
}