.container-header {
    width: 100%;
    height: 100vh;
    @extend %flex-center;
    .fondo {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        .degradado {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba($grey-200, 0.7);
            backdrop-filter: blur(3px);
            position: absolute;
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 1;
        }
    }
    .content {
        width: 1200px;
        height: auto;
        position: absolute;
        bottom: 24px;
        z-index: 2;
        .top {
            width: 100%;
            height: auto;
            justify-content: space-between;
            @extend %flex-center-row;
            .texto {
                width: auto;
                height: auto;
                h1 {
                    color: $grey-800;
                    @extend %tittle-principal;
                    span {
                        color: $blue-400;
                    }
                }
            }
            .slide {
                width: 720px;
                height: 480px;
                background-color: $yellow-400;
                .image-content {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .overlay {
                        width: 100%;
                        height: 100%;
                        background-color: rgba($grey-100, 0.2);
                        position: absolute;
                        z-index: 2;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        z-index: 1;
                    }
                }
                .mySwiper {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .bottom {
            width: 100%;
            height: 60px;
            justify-content: space-between;
            @extend %flex-center-row;
            .paginacion {
                width: auto;
                height: 40px;
                @extend %flex-center-row;
                .circle {
                    width: 15px;
                    height: 15px;
                    border-radius: 50px;
                    margin-right: 12px;
                    background-color: $grey-600;
                    &:first-child {
                        width: 20px;
                        height: 20px;
                        background-color: $grey-800;
                    }
                }
            }
            .texto {
                width: auto;
                height: auto;
                p {
                    color: $blue-600;
                    @extend %regular-medium;
                }
            }
        }
    }
}