$grey-100: #F3F4F6;
$grey-200: #E6E7EB;
$grey-300: #D1D4DB;
$grey-400: #9CA2AE;
$grey-500: #6B7380;
$grey-600: #4C5564;
$grey-700: #384152;
$grey-800: #202938;
$grey-900: #111828;
// Amarillo
$yellow-100: #FFF0E3;
$yellow-200: #FFD3AB;
$yellow-300: #FFB674;
$yellow-400: #FF993C;
$yellow-500: #FF8B20;
$yellow-600: #FB7800;
$yellow-700: #B35600;
$yellow-800: #6C3400;
$yellow-900: #241100;
// Azul
$blue-100: #E2E9F7;
$blue-200: #A9BEE6;
$blue-300: #7092D6;
$blue-400: #3867C3;
$blue-500: #3058A7;
$blue-600: #2A4D92;
$blue-700: #1E3768;
$blue-800: #12213F;
$blue-900: #060B15;
// Fonst
$nunito: 'Nunito',
sans-serif;
$lato: 'Lato',
sans-serif;